[submodule "hexo-theme-next"]
	path = hexo-theme-next
	url = https://github.com/theme-next/hexo-theme-next
[submodule "hexo-theme-3-hexo"]
	path = hexo-theme-3-hexo
	url = https://github.com/yelog/hexo-theme-3-hexo.git
